.question__container {
  color: $text-color;
  border-radius: 5px;
  border: 2px solid #f3f3f3;
  background-color: #ffffff;
  text-align: left;
  width: 800px;
  margin: 0 auto 50px;
  padding: 40px 40px 10px;

  .question__title{
        margin: 0 0 0;
  }

  .question__description {
    font-size: 14px;
    font-style: italic;
    color: $text-muted;
    margin-bottom: 10px;
  }

  .answered {
    color: $text-link;
  }

  .question__number {
    font-size: 14px;
    font-weight: 600;
  }

  .options-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0 50px;

    .option {
      color: $text-color;
      text-decoration: none;
      font-size: 17px;
      margin-bottom: 12px;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
      padding: 10px 18px 10px;
      border-radius: 5px;

      border: 2px solid white;

      &:hover {
        border: 2px solid $text-link;
      }
    }

    .option-active {
        border: 2px solid $text-link;
      }

    .wideasf {
      max-width: 40%;
    }

    .smallasf {
      max-width: 100px;
    }
  }
}
