@import "./__variables";

@import "./__navigation";
@import "./__button";
@import "./__home";
@import "./__question";
@import "./__quiz";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #fcfcfc;

  @media (max-width: $breakpoint-iphone) {
    background-color: #fcfcfc;
  }
}


